/* common CSS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    overflow: hidden;
}
.purchase-btn{
    background-color: #E76F51;
}
.section-title span, .rating i, .small-title, .modal-title{
    color: #E76F51;
}

/* header css */

header{
    background-color: #264653;
}

/* feature bikes section Css */

.grayscale-img{
    filter: grayscale(100%);
}

/* FAQ section CSS */

.accordion-button:not(.collapsed) {
    color: black;
    background-color: white;
    box-shadow: none;
}
.accordion-button:focus {
    border-color: #86b7fe;
    box-shadow: none;
}

/* All bike section CSS */

.slide-img{
    filter: brightness(55%);
    border-radius: 15px;
    object-fit: cover;
}